<!DOCTYPE html>
<html>
	<head>
		<title>Math2Mesh</title>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/three.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/MTLLoader.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/OBJLoader.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/renderer.js') }}"></script>
	</head>
	<body style="text-align:center;">
    <p>Math2Mesh</p>
    <form>
        <input type="text" placeholder="y=f(x,z)"><br>
        <input type="button" value="Preview">
    </form>
	</body>
</html>

