<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Math2Mesh</title>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/three.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/MTLLoader.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/OBJLoader.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/renderer.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/inputValidator.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/errors.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>

    <h1>Math2Mesh</h1>

    <div>
        <div id="display"></div>
    </div>

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">&#8477;<sup>2</sup> &#8594; &#8477;</button>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="toast3"></div>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">A mapping of the xz-plane onto y</h4>
                </div>
                <div class="modal-body">
                    <form action="/func3" method="post">
                        <div class="form-group">
                            <label for="f">Function:</label>
                            <textarea class="form-control" rows="1" name="func" id="func3d" placeholder="Example: sin(x)-z^2"></textarea>
                        </div>
                        <table class="table table-condensed">
                            <tbody>
                                <tr>
                                    <th>Variable</th>
                                    <th>Min value</th>
                                    <th>Max value</th>
                                    <th>Count</th>
                                </tr>
                                <tr>
                                    <th>X</th>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="min_x" id="minx" size="5">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="max_x" id="maxx" size="5">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="grid_x" id="gridx" size="5">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Z</th>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="min_z" id="minz" size="5">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="max_z" id="maxz" size="5">
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="grid_z" id="gridz" size="5">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <input type="checkbox" name="double_sided" id="ds3d" value="False">Double sided<br><br>
                        <button type="submit" class="btn btn-info" onclick="return func3Validate();">Create mesh</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2">&#8477;<sup>2</sup> &#8594; &#8477;<sup>3</sup></button>
    <div id="myModal2" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="toastP"></div>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">A mapping from a uv-plane onto (x,y,z)</h4>
                </div>
                <div class="modal-body">
                    <form action="/funcPara" method="post">
                        <div class="form-group">
                            <label for="f">Function for x:</label>
                            <textarea class="form-control" rows="1" name="funcX" id="funcX" placeholder="Example: 2*sin(u)"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="f">Function for y:</label>
                            <textarea class="form-control" rows="1" name="funcY" id="funcY" placeholder="Example: cos(v)*sin(u)"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="f">Function for z:</label>
                            <textarea class="form-control" rows="1" name="funcZ" id="funcZ" placeholder="Example: sin(u)*cos(v) if u < v else cos(u)*sin(v)"></textarea>
                        </div>
                        <table class="table table-condensed">
                            <tbody>
                                <tr>
                                    <th>Variable</th>
                                    <th>Min value</th>
                                    <th>Max value</th>
                                    <th>Count</th>
                                </tr>
                                <tr>
                                    <th>U</th>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="min_u" id="minu" size="5">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="max_u" id="maxu" size="5">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="grid_u" id="gridu" size="5">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>V</th>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="min_v" id="minv" size="5">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="max_v" id="maxv" size="5">
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="grid_v" id="gridv" size="5">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <input type="checkbox" name="double_sided" id="dsP" value="False">Double sided<br><br>
                        <button type="submit" class="btn btn-info" onclick="return funcPValidate();">Create mesh</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal3">Noise</button>
    <div id="myModal3" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="toastN"></div>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Generate noise height for a grid on the (x,z)-plane</h4>
                </div>
                <div class="modal-body">
                    <form action="/funcNoise" method="post">
                        <div class="form-group">
                            <label for="f">Grid width (x):</label>
                            <input type="text" class="form-control" name="gridWidth" id="gridW" size="5">
                            <label for="f">Grid width (z):</label>
                            <input type="text" class="form-control" name="gridLength" id="gridL" size="5">
                            <label for="f">Grid count (x):</label>
                            <input type="text" class="form-control" name="gridCountX" id="gridCX" size="5">
                            <label for="f">Grid count (z):</label>
                            <input type="text" class="form-control" name="gridCountZ" id="gridCZ" size="5">
                            <label for="f">Octaves</label>
                            <input type="text" class="form-control" name="octaves" id="octaves" size="5">
                            <label for="f">Persistence</label>
                            <input type="text" class="form-control" name="persistence" id="persistence" size="5">
                            <label for="f">Lacunarity</label>
                            <input type="text" class="form-control" name="lacunarity" id="lacunarity" size="5">
                        </div>
                        <button type="submit" class="btn btn-info" onclick="return funcNValidate();">Create mesh</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <form action="/dl" method="get" style="display:inline">
        <button type="submit" class="btn btn-info btn-lg"3>Download</button>
    </form>

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal4">Info</button>
    <div id="myModal4" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Help</h4>
                </div>
                <div class="modal-body">
                    TODO <!--TODO-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    </body>

</html>

